.App {
  text-align: center;
}

.calc-container {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  height: 70vh;
  width: 40vw;
}

.display {
  grid-row: 1/2;
  grid-column: 1/5;
  width: 100%;
  border: 2px solid black;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  
}
